/*
ivory: #E1DAD3 
rose taupe: #84676F
dusty rose: #C39797
rose quartz: #A2999E
nude: #F2E9D8
baby blue: #A9CAE8
gray: #797B84
pastel green: #B7CEAC
raisin black: #312329
smokey black: #0E080B
*/
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.container {
  font-family: "Raleway", sans-serif;
  margin: 30px auto 0 auto;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  color: #583746;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 38px;
}

.main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1012px) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  background-color: #583746;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.logo__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Shantell Sans", cursive;
  font-weight: 600;
}

.menu__list {
  margin: 0;
  padding: 2px;
  list-style: none;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1012px) {
  .menu__list {
    flex-direction: column;
    text-align: center;
  }
}
.menu__link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #583746;
}
.menu__link:hover, .menu__link:active {
  background-color: #975E78;
  border-radius: 10px;
  color: #ffffff;
}

.footer {
  margin-top: 60px;
  background-color: #312329;
  color: #ffffff;
  padding: 20px;
}
.footer__heading {
  color: #F2E9D8;
}
.footer__flex {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 950px) {
  .footer__flex {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
.footer__links {
  padding: 0;
  list-style: none;
}
.footer__link {
  color: #f5ece4;
  text-decoration: none;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.preview__image {
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.preview__text {
  max-width: 50%;
}
.preview__heading {
  margin-top: 0;
  font-size: 40px;
}
.preview__button {
  margin-top: 20px;
  width: 50%;
}

.introduction {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 1012px) {
  .introduction {
    display: flex;
    flex-direction: column;
  }
}
.introduction__content {
  display: flex;
  margin: 30px auto;
  gap: 40px;
  position: relative;
}
.introduction__icon {
  max-width: 40px;
  max-height: 40px;
}
.introduction__text {
  text-align: left;
  margin: 0;
}

.button {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #583746;
  border: none;
  box-shadow: 5px 3px 5px #797B84;
}
.button__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.button:hover,
.button:active {
  background-color: #975E78;
  border: 1px solid #312329;
}

.planner {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 800px) {
  .planner {
    flex-direction: column;
  }
}
.planner__left {
  width: 50%;
  text-align: left;
  padding: 50px;
}
@media screen and (max-width: 800px) {
  .planner__left {
    width: 100%;
  }
}
.planner__right {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .planner__right {
    width: 100%;
  }
}
.planner__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1012px) {
  .benefits {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .benefits {
    grid-template-columns: 1fr;
  }
}

.benefit {
  background-color: #F2E9D8;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 3px 5px #797B84;
}
.benefit__icon {
  width: 20px;
  height: 30px;
}
.benefit__heading {
  display: flex;
  justify-content: center;
}
.benefit__header {
  margin: 0;
  font-size: 18px;
}

.example {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.example__img {
  width: 100%;
  border-radius: 10px;
}

.connection {
  display: flex;
  justify-content: space-between;
  background-color: #f5ece4;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px #797B84;
}
@media screen and (max-width: 800px) {
  .connection {
    flex-direction: column;
    gap: 20px;
  }
}
.connection__button {
  align-self: center;
}
@media screen and (max-width: 800px) {
  .connection__button {
    align-self: flex-start;
  }
}

.faq {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .faq {
    display: flex;
    flex-direction: column;
  }
}
.faq :first-child {
  grid-column: span 3;
}
.faq__heading {
  margin: 0;
}

.benefits--alt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .benefits--alt {
    display: flex;
    flex-direction: column;
  }
}

.create-web {
  display: flex;
  justify-content: space-between;
  background-color: #c6d6da;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px #797B84;
}
@media screen and (max-width: 800px) {
  .create-web {
    flex-direction: column;
    gap: 20px;
  }
}
.create-web__button {
  align-self: center;
}
@media screen and (max-width: 800px) {
  .create-web__button {
    align-self: flex-start;
  }
}

.web-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #F2E9D8;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .web-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .web-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.web-grid__item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px #797B84;
}
.web-grid :last-child {
  grid-column: 3/span 1;
  grid-row: 5/span 1;
}
@media screen and (max-width: 1024px) {
  .web-grid :last-child {
    grid-column: 2/span 1;
  }
}
.web-grid :nth-child(17) {
  grid-column: 2/span 1;
  grid-row: 5/span 1;
}
@media screen and (max-width: 1024px) {
  .web-grid :nth-child(17) {
    grid-column: 1/span 1;
  }
}

.pricings {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 400px 1fr;
  grid-template-rows: 100px 30px 1fr 30px;
  gap: 10px;
}
@media screen and (max-width: 1300px) {
  .pricings {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.pricings :first-child {
  grid-column: 1/span 4;
  grid-row: 1/span 1;
}
.pricings :nth-child(2) {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.pricings :nth-child(3) {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}
.pricings :nth-child(4) {
  grid-column: 3/span 1;
  grid-row: 2/span 3;
}
.pricings :last-child {
  grid-column: 4/span 1;
  grid-row: 3/span 1;
}
.pricings .pricing {
  text-align: center;
  border: 1px solid #797B84;
  padding: 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.pricings .pricing__heading {
  border-bottom: 1px solid #797B84;
}
.pricings .pricing__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.pricings .pricing__content :first-child {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.pricings .pricing__content :nth-child(2) {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.pricings .pricing__content :nth-child(3) {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
.pricings .pricing__content :nth-child(4) {
  grid-column: 1/span 1;
  grid-row: 4/span 1;
}
.pricings .pricing__content :last-child {
  grid-column: 1/span 1;
  grid-row: 5/span 1;
}

.pricing--alt {
  color: #F00048;
}

.pricing__heading--alt {
  position: relative;
}

.recommend {
  position: absolute;
  top: 0;
  right: -25px;
  transform: rotate(50deg);
  background-color: #ffffff;
  width: 110px;
  overflow: hidden;
  border-radius: 20px;
}
.recommend__ribbon {
  font-family: "Shantell Sans", cursive;
  color: #F00048;
}

.create {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
}
@media screen and (max-width: 1012px) {
  .create {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .create {
    grid-template-columns: 1fr;
  }
}
.create__heading {
  grid-column: span 3;
  text-align: center;
}
@media screen and (max-width: 1012px) {
  .create__heading {
    grid-column: span 2;
  }
}
@media screen and (max-width: 800px) {
  .create__heading {
    grid-column: span 1;
  }
}
.create__img {
  width: 100%;
}
.create__item {
  text-align: center;
}
.create__introduction {
  background-color: #c6d6da;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px #797B84;
  text-align: center;
}
.create__name {
  font-family: "Shantell Sans", cursive;
  font-size: 22px;
}

.back__link {
  text-decoration: none;
  color: #583746;
}

.logged {
  text-align: center;
}/*# sourceMappingURL=style.css.map */