$primary: #975E78;
$additional: #797B84;
$footer-color: #312329;
$background-color: #f5ece4;
$heading-color: #583746;
$button-hover-color: #deaac1;
$font-color: #0E080B;
$pastel-green: #B7CEAC;
$pastel-blue: #c6d6da;
$nude-color: #F2E9D8;



/*
ivory: #E1DAD3 
rose taupe: #84676F
dusty rose: #C39797
rose quartz: #A2999E
nude: #F2E9D8
baby blue: #A9CAE8
gray: #797B84
pastel green: #B7CEAC
raisin black: #312329
smokey black: #0E080B
*/