@use 'colors';
@use 'format';

.footer {
    margin-top: format.$spacer * 3;
    background-color: colors.$footer-color;
    color: #ffffff;
    padding: format.$spacer;

    &__heading {
        color: colors.$nude-color;
    }

    &__flex {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 950px) {
            flex-direction: column;
            gap: format.$spacer;
            text-align: center;
        }
    }

    &__links {
        padding: 0;
        list-style: none;
    }

    &__link {
        color: colors.$background-color;
        text-decoration: none;
    }

}
