@use 'colors';
@use 'format';

.back__link {
    text-decoration: none;
    color: colors.$heading-color;
}

.logged {
    text-align: center;
}

.reset {
    text-align: center;

    &__text {
        font-size: 20px;
        margin-bottom: 40px;
    }
}