<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500;600&family=Nunito:wght@400;700&family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;800&family=Rubik:wght@400;500&family=Shantell+Sans:wght@300&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">

	
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">

		<header class="header">

			<div class="header__logo logo">
				<a href="/" class="logo__link">WEDDINGPLANNER</a>
			</div>

			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__item"><a href="/weddingplanner-online/" class="menu__link">Svatební plánovač online</a></li>
					<li class="menu__item"><a href="/wedding-web/" class="menu__link">Svatební web</a></li>
					<li class="menu__item"><a href="/pricing/" class="menu__link">Ceník</a></li>
					<li class="menu__item"><a href="/create/" class="menu__link">Vytvořit vlastní svatební web</a></li>
					<li class="menu__item"><a href="/login/" class="menu__link">Přihlásit</a></li>
				</ul>
			</nav>
			
		</header>

		<main class="main">

            {{ content | safe }}

        </main>


		<footer class="footer">
			<div class="footer__flex">
				<div class="footer__flex-column">
					<h2 class="footer__heading">Weddingplanner</h2>
					<ul class="footer__links">
						<li><a class="footer__link" href="/weddingplanner-online/">Svatební plánovač online</a></li>
						<li><a class="footer__link" href="/wedding-web/">Svatební web</a></li>
						<li><a class="footer__link" href="/pricing/">Ceník</a></li>
						<li><a class="footer__link" href="/create/">Vytvořit vlastní svatební web</a></li>
						<li><a class="footer__link" href="/login/">Přihlásit</a></li>
					</ul>
				</div>

				<div class="footer__flex-column">
					<h2 class="footer__heading">Kontakt</h2>
					<p>
						<span class="footer__title">Telefon:</span><br>
						+420 *** *** ***
					</p>
					<p>
						<span class="footer__title">E-mail:</span><br>
						<a class="footer__link" href="mailto:wedding@planner.cz">wedding@planner.cz</a>
					</p>
				</div>

                <div class="footer__flex-column">
                    <h2 class="footer__heading">Site created by</h2>
					<p>Doubravka Vetešníková</p>
					<p>&copy;2023, Doubravka Vetešníková</p>
                    <h2 class="footer__heading">Icons by</h2>
                    <p><a class="footer__link" href="https://icons8.com">icons8.com</a></p>

				</div>
			</div>
		</footer>


	</div> 
</body>
</html>